@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.section{
    width: 590px;
    border: 1px solid #e6e6e6;
    margin: 50px auto 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}
.section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
}
.section ul li{
    width: 103px;
    /* background: gold; */
}
.section ul li a{
    display: block;
    width: 100%;
}
.section ul li a .imgbox{
    width: 100%;
    height: 132px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #d7dac9;
}
.section ul li a .imgbox img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.section ul li:hover a .imgbox img{
    transform: scale(1.1);
}
.section ul li a .txt{
    width: 100%;
    margin-top: 10px;
}
.section ul li a .txt p{
    color: #101010;
    font-size: 13.65px;
}
.section ul li:hover a .txt p{
    text-decoration: underline;
}