@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{ margin: 0; padding: 0; box-sizing: border-box;}
.section{
    width: 100%;
    height: 100vh;
    background: #644d3a;
}
.section svg{
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: beige;
    stroke: gray;
    stroke-width: 2px;
}