@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0;}
li{list-style: none;}
ul{width: 1180px; height: 160px; background: gold; margin: auto;}
ul li{width: 393.33px; height: 160px; background: green; float: left; padding: 30px;
      /* padding을 주되 기존 설정한 사이즈는 유지시켜주는 명령어 */
      box-sizing: border-box;
}
ul li h2{font-size: 24px; color: #fff; font-weight: 900;}
ul li p{color: #fff; font-size: 14px; font-weight: 400;}
ul .first{background: #907355 url("../images/speed_menu_icon_02.png") no-repeat 233px center;}
ul .li2{background: #434343 url("../images/speed_menu_icon_03.png") no-repeat 236px center;}
ul .last{background: #C30706 url("../images/speed_menu_icon_04.png") no-repeat 216px center;}