@charset "utf=8";
body{
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}
*{margin: 0; padding: 0;}
div{
    width: 390px;
    border: 5px solid red;
    padding: 10px;
}
div h1{
    font-size: 19px;
    color: #375ead;
    margin-bottom: 10px;
}
div h1 .span1{
    color: #fff;
    background: #237ac1;
    font-size: 11px;
    border: 1px solid #1b5070;
}
div .p1{
    color: #848484;
    font-size: 12px;
}
div p .span2{
    color: #cd5579;
    font-weight: 900;
    font-family: "궁서";
    font-size: 18px;
}
div p .span3{
    color: #445696;
    font-weight: 900;
}
div p{
    line-height: 31px;
    color: #333;
}
div .p1 .date{
    font-style: italic;
}