@charset "utf-8";
*{margin: 0; padding: 0;}
button{border: none; background: none; cursor: pointer;}
.section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.section video{
    width: 100%;
}
.section button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    animation: button_ani 0.7s forwards infinite ease-in-out;
}
@keyframes button_ani {
    0%{bottom: 40px;}
    50%{bottom: 20px;}
    100%{bottom: 40px;}
}