@charset "utf-8";
*{margin: 0; padding: 0;}
.box1{
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    text-align: center;
    line-height: 100px;
    /*
    요소를 애니메이션 하는 조건
    1. 요소를 공중에 띄워야함
    2. 시작점에서 끝점으로 이동하는 것 > 시작과 끝을 설정해야함
     */
    position: absolute;
    left: 0;
    top: 0;
    /* 애니메이션 실행 방법 */
    animation-name: box_ani;
    /* 실행시간설정 */
    animation-duration: 2s;
    /* 원래위치로 돌아가지 않게 멈추는 명령 */
    animation-fill-mode: forwards;
    /* 반복횟수설정 */
    animation-iteration-count: 5;
    /* 무한반복설정 */
    animation-iteration-count: infinite;
    /* 실행전 지연시간 */
    animation-delay: 1s;
    /* 가속도설정 */
    animation-timing-function: ease-in-out;
    /* 애니메이션 방향설정 */
    animation-direction: alternate;
}
/* 애니메이션 설정_어떻게 진행할건지 */
@keyframes box_ani {
    0%{left: 0;}
    100%{left: 1000px;}
}
.box2{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    left: 0;
    top: 200px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    animation: box2_ani 3s ease-in-out infinite 1s reverse;
}
@keyframes box2_ani {
    0%{left: 0;}
    25%{left: 250px; background: orange;}
    50%{left: 500px; background: yellow;}
    75%{left: 750px; background: yellowgreen;}
    100%{left: 1000px; background: skyblue;}
}
.box3{
    width: 100px;
    height: 100px;
    background: blueviolet;
    color: #fff;
    text-align: center;
    line-height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 400px;
    animation: box3_ani 4s ease-in-out infinite;
}
@keyframes box3_ani {
    0%{left: 0; top: 400px;}
    25%{left: 500px; top: 400px;}
    50%{left: 500px; top: 900px;}
    75%{left: 0; top: 900px;}
    100%{left: 0; top: 400px;}
}