@charset "utf-8";
.first{
    width: 1000px;
    height: 300px;
    border: 1px solid blue;
    margin: 0 auto 200px;
    position: relative;
}
.first .box1{
    width: 100px;
    height: 100px;
    background: hotpink;
    position: absolute;
    left: 0;
    top: 0;
    animation: box1_ani 4s ease-in-out infinite;
}
@keyframes box1_ani {
    0%{left: 0; top: 0;}
    25%{left: 900px; top: 0;}
    50%{left: 900px; top: 200px;}
    75%{left: 0; top: 200px;}
    100%{left: 0; top: 0;}
}
.second{
    width: 1000px;
    height: 300px;
    border: 1px solid red;
    margin: auto;
    position: relative;
}
.second .box2{
    width: 100px;
    height: 100px;
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    animation: box2_ani 5s forwards ease-in-out;
}
@keyframes box2_ani {
    0%{left: 0; top: 0;}
    20%{left: 900px; top: 0;}
    40%{left: 900px; top: 200px;}
    60%{left: 0; top: 200px;}
    80%{left: 0; top: 0;}
    100%{left: -101px; top: 0;}
}