@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.header{width: 100%; height: 100px; background: #661d16;}
.header .inner{width: 1180px; height: 100px; margin: auto;}
.header .inner h1{float: left; margin: 27px 96px 0 0;}
.header .inner .gnb{float: left;}
.header .inner .gnb li{float: left; line-height: 100px; margin-right: 34px;}
.header .inner .gnb li a{color: #fff; font-weight: 700; font-size: 19px; letter-spacing: 2px;}
.header .inner .gnb .last{margin-right: 0;}
.header .inner .login{float: right;}
.header .inner .login li{float: left; margin-left: 20px; line-height: 100px;}
.header .inner .login li a{color: #fff; font-size: 13px;}
.header .inner .login .first{margin-left: 0;}
.header .inner .login .last a{background: #222222; padding: 10px 20px;}
.visual{width: 100%; height: 900px; background: url("../images/20250314110005847042.png") no-repeat center top;}