@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* 팝업창 */
.popup{
    width: 100%;
    height: 90px;
}
.popup .inner a{
    width: 100%;
    height: 90px;
    display: block;
    background: url("../images/mi98fTZd30jphbrs_20241126.jpg") no-repeat center top;
    background-size: cover;
    position: relative;
}
.popup .inner a .btn_close{
    width: 19px;
    height: 19px;
    background: url("../images/btn_top_banner_close.png") no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 50%;
    margin-left: 470px;
    top: 10px;
}

/* main영역 */
main{
    width: 100%;
    position: absolute;
    left: 0;
    top: 90px;
}
/* 메인 슬라이드 */
main .slide{
    width: 100%;
    height: 620px;
}
main .slide div{
    width: 100%;
    height: 100%;
}
main .slide div a{
    display: block;
    width: 100%;
    height: 100%;
}
main .slide div.slide1 a{
    background: url("../images/8YyVQIrODNJExkM9_20240405.jpg") no-repeat center top;
    background-size: cover;
}
main .slide div.slide2 a{
    background: url("../images/A0qi1eb9wvEGxnmX_20230719.jpg") no-repeat center top;
    background-size: cover;
}
main .slide div.slide3 a{
    background: url("../images/m4uE1HFDqbY8tval_20230719.jpg") no-repeat center top;
    background-size: cover;
}
main .slide div.slide4 a{
    background: url("../images/sMkbYCLarlo0f7Ow_20160204.jpg") no-repeat center top;
    background-size: cover;
}
main .slide div.slide5 a{
    background: url("../images/boO8MUInqa6CPQcJ_20230925.png") no-repeat center top;
    background-size: cover;
}
main .slide div.slide6 a{
    background: url("../images/krH2CMoaZQ6pOEjJ_20241126.jpg") no-repeat center top;
    background-size: cover;
}
main .slide .slick-prev{
    width: 45px;
    height: 89px;
    background: url("../images/main_visual_prev.png") no-repeat;
    position: absolute;
    left: 400px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    text-indent: -99999px;
}
main .slide .slick-next{
    width: 45px;
    height: 89px;
    background: url("../images/main_visual_next.png") no-repeat;
    position: absolute;
    right: 400px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -99999px;
}
main .slide .slick-dots{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
main .slide .slick-dots>li>button{
    width: 18px;
    height: 18px;
    text-indent: -99999px;
    background: url("../images/main_visual_pager_off.png") no-repeat;
}
main .slide .slick-dots>li.slick-active>button{
    background: url("../images/main_visual_pager_on.png") no-repeat;
}
