@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{font-family: "Pretendard-Regular", arial, sans-serif;}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.tab li{
    position: relative;
}
.tab li a{
    display: block;
    padding: 0 48px 24px;
    font-size: 20px;
    color: #666;
}
.tab li.on a{
    color: #000;
    font-weight: 700;
}
.tab li.on a::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
}
.list_wrap .list{
    display: flex;
    justify-content: left;
}
.list_wrap .list li a img{
    background: url("../images/tce-product-background-texture.webp") no-repeat;
    background-size: contain;
}
.list_wrap .list li a .txtbox{
    padding: 20px;
    color: #000;
}
.list_wrap .list li a .txtbox h3{
    margin-bottom: 30px;
}
.list_wrap .list li a .txtbox p{
    color: #666;
    margin-bottom: 30px;
}
.list_wrap .list li a .txtbox h4{}