@media ( min-width: 320px ) and ( max-width: 767px ){
    .wrap header{
        height: 50px;
        padding: 0 15px;
    }
    .wrap header .inner{
        width: 100%;
    }
    .wrap header .inner .m_menu{
        display: block;
        width: 24px;
        height: 24px;
        text-indent: -99999px;
        background: url("../images/m_menu.png") no-repeat;
        background-size: 24px 24px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .wrap header .inner nav{
        display: none;
    }
    .wrap header .inner h1{
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .wrap header .inner .cart{
        width: 21px;
        height: 24px;
        background: url("../images/m_mall.png") no-repeat;
        background-size: 21px 24px;
    }
    .wrap main .visual{
        width: 100%;
        height: 375px;
        background: url("../images/m_visual_a.jpg") no-repeat;
        background-size: contain;
    }
    .wrap main .txt p .show{
        display: block;
    }
    .wrap main .txt p em{
        display: none;
    }
}