@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Roboto", "Noto Sans KR", sans-serif;}
/* 초기화 작업 */
*{margin: 0; padding: 0;}
button{border: none; background: none; cursor: pointer;}
a{text-decoration: none;}
li{list-style: none;}
/* 초기화 작업 끝*/

/* header 영역 */
.header{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.header h1{
    width: 150px;
    height: 40px;
}
.header h1 a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
    background: url("../images/logo.png") no-repeat;
    background-size: 150px 40px;
}
.header .menu{
    width: 22px;
    height: 20px;
    text-indent: -99999px;
    background: url("../images/ico-menu.png") no-repeat;
    background-size: 22px 20px;
}
.header .search{
    width: 21.5px;
    height: 21px;
    text-indent: -99999px;
    background: url("../images/ico-search.png") no-repeat;
    background-size: 21.5px 21px;
}
/* header 영역 끝 */

/* gnb 영역 */
.gnb{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #c8d6d7;
}
.gnb li{
    height: 100%;
}
.gnb li:hover a{
    color: #ed174d;
}
.gnb li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}
/* gnb 영역 끝 */

/* main 영역 */
.main{
    width: 100%;
}
.main .visual{
    width: 100%;
}
.main .visual img{
    width: 100%;
}
/* main 영역 끝 */

/* section1 영역 */
.section1{
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    background: #fff;
}
.section1 h2{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 46px;
}
.section1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}
.section1 ul li{
    width: 60px;
    text-align: center;
}
.section1 ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding-top: 62px;
    box-sizing: border-box;
}
.section1 ul li:first-child a{
    background: url("../images/ico-45-tv.png") no-repeat 50% 0;
    background-size: 45px;
}
.section1 ul li:nth-child(2) a{
    background: url("../images/ico-45-internet.png") no-repeat 50% 0;
    background-size: 45px;
}
.section1 ul li:nth-child(3) a{
    background: url("../images/ico-45-rental.png") no-repeat 50% 0;
    background-size: 45px;
}
.section1 ul li:last-child a{
    background: url("../images/ico-45-combination.png") no-repeat 50% 0;
    background-size: 45px;
}
/* section1 영역 끝 */

/* section2 영역 */
.section2{
    width: 100%;
    background: #f2f3f7;
    text-align: center;
    padding: 58px 0;
    box-sizing: border-box;
}
.section2 h2{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: 24px;
}
.section2 h4{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 24px;
}
.section2 img{
    width: 320px;
    height: 320px;
}
/* section2 영역 끝 */

/* section3 영역 */
.section3{
    width: 100%;
    background: #ed174d;
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
}
.section3 h2{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 14px;
}
.section3 .wrap{
    width: 320px;
    margin: auto;
    border-bottom: 1px solid #fff;
}
.section3 .wrap input{
    width: 270px;
    height: 60px;
    border: none;
    background: none;
}
.section3 .wrap input::placeholder{
    color: #fff;
    font-size: 20px;
}
.section3 .wrap button{
    width: 37.5px;
    height: 27px;
    text-indent: -99999px;
    background: url("../images/ico-search-lg-white.png") no-repeat;
    background-size: 27.5px 27px;
}
/* section3 영역 끝 */

/* footer 영역 */
.footer{
    width: 100%;
}
.footer .cs{
    width: 100%;
    padding: 26px 18px;
    box-sizing: border-box;
    background: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #626262;
    gap: 26px;
}
.footer .cs h5{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.footer .cs ul{
    display: flex;
    gap: 21px;
}
.footer .cs ul li{
    position: relative;
}
.footer .cs ul li::after{
    content: "";
    width: 1px;
    height: 14px;
    background: #4b4c4e;
    position: absolute;
    right: -11px;
    top: 3px;
}
.footer .cs ul li:last-child:after{
    display: none;
}
.footer .cs ul li a{
    font-size: 12px;
    font-weight: 400;
    color: #888;
}
.footer .notice{
    width: 100%;
    padding: 26px 18px;
    box-sizing: border-box;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .notice .wrap2{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer .notice .wrap2 h5{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.footer .notice .wrap2 p{
    font-size: 12px;
    font-weight: 400;
    color: #888;
}
.footer .notice p{
    font-size: 12px;
    font-weight: 400;
    color: #888;
}
.footer .gnb2{
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: #1e1f21;
    display: flex;
    justify-content: center;
    gap: 21px;
    border-bottom: 1px solid #333436;
}
.footer .gnb2 li{
    position: relative;
}
.footer .gnb2 li::after{
    content: "";
    width: 1px;
    height: 10px;
    background: #4b4c4e;
    position: absolute;
    right: -11px;
    top: 5px;
}
.footer .gnb2 li:last-child:after{
    display: none;
}
.footer .gnb2 li a{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.footer .info{
    width: 100%;
    text-align: center;
    font-size: 12px;
    background: #1e1f21;
    padding: 22px 0 30px;
}
.footer .info h1{
    width: 120px;
    height: 35px;
    margin: auto;
}
.footer .info h1 img{
    width: 100%;
    height: 100%;
}
.footer .info ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}
.footer .info ul li{
    position: relative;
}
.footer .info ul li:first-child::after{
    content: "";
    width: 1px;
    height: 8px;
    background: #888;
    position: absolute;
    right: -8px;
    top: 4px;
}
.footer .info ul li:last-child a{
    color: #5b8ad9;
}
.footer .info ul li a{
    color: #fff;
}
.footer .info .txt{
    color: #888;
    line-height: 22px;
}
.footer .info .txt ul{
    margin-bottom: 0;
}
.footer .info .call p{
    color: #999;
    font-weight: 700;
    line-height: 25px;
}
.footer .info .call p a{
    color: #999;
    font-weight: 700;
}
.footer .info .call p:last-child{
    margin-bottom: 20px;
}
/* footer 영역 끝 */

/* tabbar 영역 */
.tabbar{
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
}
.tabbar li{
    width: 50%;
    padding: 20px 0;
}
.tabbar li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
.tabbar li:first-child{
    background: #ed174d;
}
.tabbar li:first-child a{
    color: #fff;
}
.tabbar li:last-child{
    background: #e0e0e0 url("../images/ico-phone-call2.png") no-repeat 28% center;
    background-size: 21px 20px;
}
.tabbar li:last-child a{
    color: #ed174d;
}
/* tabbar 영역 끝 */