@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "roboto", "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0;}
button{border: none; background: none; cursor: pointer;}
a{text-decoration: none;}
li{list-style: none;}
/* 이미지초기화 */
img{border: none; display: block;}

.header{width: 100%; height: 60px; background: #fff; border-bottom: 1px solid #f7f7f7; position: relative;}
.header h1{position: absolute; left: 50%; top: 50%; margin: -12px 0 0 -60px;}
.header h1 a{background: url("../images/logo_app.png") no-repeat; display: block; width: 120px; height: 24px; background-size: 120px 24px; text-indent: -99999px;}
.header button{
    background: url("../images/icon_cart.png") no-repeat;
    width: 25px;
    height: 26px;
    background-size: 25px 26px;
    text-indent: -99999px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -13px;
}
.login{
    width: 100%;
    height: 112px;
    background: #f6f6f6;
    padding: 24px 15px;
    box-sizing: border-box;
}
.login p{
    color: #00020b;
    font-size: 16px;
    font-weight: 700;
}
.login .go{
    float: right;
    color: #009436;
    font-size: 16px;
    font-weight: 700;
}
.main{
    width: 100%;
}
.main .swiper{
    position: relative;
}
.main .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.main .swiper .swiper-pagination{
    width: 48px;
    height: 22px;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
    border-radius: 999px;
    position: absolute;
    /* 포지션 초기화 */
    left: unset;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    line-height: 22px;
}
.main .swiper .swiper-pagination .swiper-pagination-total{
    color: rgba(255, 255, 255, 0.5);
}
.order{
    width: 100%;
    padding: 10px 0;
    background: #f6f6f6;
}
.order ul.orderlist{
    width: 90%;
    /* background: gold; */
    margin: auto;
    /* 자식모두 float일 경우 부모 높이가 0이 되므로 자식높이만큼 부모높이를 감싸줘야함 >overflow:hidden */
    overflow: hidden;
}
.order ul.orderlist li{
    width: 49%;
    height: 176px;
    border-radius: 16px;
    float: left;
    margin-right: 2%;
    padding: 18px;
    box-sizing: border-box;
    /* 박스에 드롭쉐도우 주는 명령 */
    box-shadow: 0.7px 1px 6px #c8c8c8;
}
.order ul.orderlist li:first-child{
    background: url(../images/img_fastsub2.png) no-repeat 90% 90% #fff;
}
.order ul.orderlist li:last-child{
    margin-right: 0;
    background: url(../images/img_homesub2.png) no-repeat 90% 90% #fff;
}
.order ul.orderlist li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #a09694;
    font-size: 16px;
    line-height: 24px;
}
.order ul.orderlist li a span{
    font-weight: 900;
    color: #000;
    font-size: 20px;
    font-family: "roboto";
}