@charset "utf-8";
body{font-family: "맑은 고딕","malgun gothic", sans-serif;}
div{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
.box1{
    background: red;
    /* 공중에 띄우는 명령 */
    position: absolute;
    /* 배치위치 */
    left: 0;
    top: 0;
    /* 공중에 띄웠던 포지션 해제하는 명령 */
    position: static;
}
.box2{
    background: green;
    /* 브라우저 기준이 아닌 상대적인 기준을 설정할 때 쓰는 명령 */
    position: relative;
}
.box2 .orange{
    width: 80px;
    height: 80px;
    background: orange;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 3;
}
.box2 .pink{
    width: 80px;
    height: 80px;
    background: pink;
    position: absolute;
    right: 60px;
    bottom: 60px;
    z-index: 4;
}
.box2 .purple{
    width: 80px;
    height: 80px;
    background: purple;
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 5;
}
.box3{
    background: blue;
    position: absolute;
    /* 가운데 정렬 공식: 50%로 맞춘후 오차는 마진 -반px로 맞춰주기 */
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}
.box4{
    background: lightblue;
    position: absolute;
    /* left: 200px; */
    right: 0;
    /* top: 100px; */
    bottom: 0;
}