@charset "utf-8";
body{font-family: "맑은 고딕";}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; border: none;}

h1{
    text-align: center;
    margin: 50px 0;
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
ul li{
    width: 90px;
    height: 60px;
}
ul li a{
    display: block;
    width: 100%;
    height: 100%;
    border: 5px solid #ccc;
}
ul li a img{
    width: 100%;
    height: 100%;
}
.big{
    width: 440px;
    height: 290px;
    border: 7px solid #ccc;
    margin: 30px auto;
}
.big img{
    width: 100%;
    height: 100%;
}