@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0;}
button{border: none; background: none; cursor: pointer;}
.header{width: 100%; height: 60px; background: #fff; border-bottom: 1px solid #f7f7f7; position: relative;}
.header h1{position: absolute; left: 50%; top: 50%; margin: -12px 0 0 -60px;}
.header h1 a{background: url("../images/logo_app.png") no-repeat; display: block; width: 120px; height: 24px; background-size: 120px 24px; text-indent: -99999px;}
.header button{background: url("../images/icon_cart.png") no-repeat; width: 25px; height: 26px; background-size: 25px 26px; text-indent: -99999px; position: absolute; right: 20px; top: 50%; margin-top: -12.5px;}
.login{width: 100%; height: 112px; background: #f6f6f6;}
.visual img{width: 100%;}