@charset "utf-8";
body{font-family: "맑은 고딕", "malgum gothic", sans-serif;}
*{margin: 0; padding: 0;}
div{
    width: 100px;
    height: 100px;
    background: red;
    color: #fff;
    text-align: center;
    line-height: 100px;
    /* 중간과정 만들어서 부드럽게 처리하는 명령 */
    /* transition: all 3s; */
    /* 크로스브라우징 - 어떤 브라우저에서든 다 똑같이 동작되도록 하는 것 */
    -webkit-transition: all 3s 2s ease-in-out;
    -webkit-transition: all 3s 2s linear;
    /* transition: all 총걸리는시간 지연시간 가속도 */
    -o-transition: all 3s;
}
div:hover{
    width: 1000px;
    height: 800px;
}