@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{background: none; border: none; cursor: pointer;}
section{
    width: 100%;
    margin-top: 50px;
}
section .inner{
    width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
section .inner .imgbox{
    width: 574px;
    height: 348px;
    position: relative;
}
section .inner .imgbox img{
    width: 100%;
    height: 100%;
}
section .inner .imgbox .tit{
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
}
section .inner .imgbox .tit h3{
    color: #333;
    position: relative;
}
section .inner .imgbox .tit h3::after{
    content: "";
    width: 1px;
    height: 14px;
    background: #ec4646;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}
section .inner .imgbox .tit h4{
    color: #757575;
    position: relative;
}
section .inner .imgbox .tit h4::after{
    content: "";
    width: 1px;
    height: 14px;
    background: #ec4646;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}
section .inner .imgbox .tit p{
    color: #ec4646;
}
section .inner .product{
    width: 574px;
    height: 348px;
    border: 1px solid #f3f3f3;
    background: #f4f4f4;
    padding: 20px 30px;
    position: relative;
}
section .inner .product h2{
    font-size: 21px;
    color: #333;
}
section .inner .product h2 span{
    font-size: 30px;
}
section .inner .product .line{
    width: 20px;
    height: 2px;
    background: #ec4646;
    margin-top: 10px;
}
section .inner .product .list{
    margin: auto;
}
section .inner .product .list li a{
    text-align: center;
}
section .inner .product .list li a img{
    border-bottom: 1px solid #ccc;
}
section .inner .product .list li a h3{
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-top: 4px;
}
section .inner .product .list li a p{
    font-size: 13px;
    font-weight: 400;
    color: #757575;
    margin: 4px 0;
}
section .inner .product .list li a h4{
    font-size: 14px;
    color: #333;
}
section .inner .product .list .slick-dots{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 5px;
    margin-left: -26px;
}
section .inner .product .list .slick-dots li button{
    width: 10px;
    height: 10px;
    background: url("../images/btn_rolling_s.png") no-repeat;
    text-indent: -99999px;
}
section .inner .product .list .slick-dots .slick-active button{
    width: 10px;
    height: 10px;
    background: url("../images/btn_rolling_s_on.png") no-repeat;
    text-indent: -99999px;
}
section .inner .product .btn_pause{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 50%;
    margin-right: -32px;
    bottom: 18px;
    background: url("../images/btn_rolling_s_stop.png") no-repeat;
    text-indent: -99999px;
}
section .inner .product .btn_play{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 50%;
    margin-right: -50px;
    bottom: 18px;
    background: url("../images/btn_rolling_s_play.png") no-repeat;
    text-indent: -99999px;
}