@charset "utf-8";
body{}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
button{cursor: pointer;}
ul{
    width: 640px;
    border: 3px solid #000;
    display: flex;
    gap: 20px;
}
.box1{
    margin-bottom: 50px;
}
ul li{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
.box1 li:first-child{
    background: red;
}
.box1 li:nth-child(2){
    background: green;
}
.box2 li:first-child{
    background: orange;
}
.box2 li:nth-child(2){
    background: skyblue;
}