@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{background: none; border: none; cursor: pointer;}
section{
    width: 100%;
    padding: 170px 0;
}
section .inner{
    width: 1140px;
    margin: auto;
}
section .inner h2{
    color: #323232;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
section .inner p{
    color: #323232;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}
section .inner .tab{
    display: flex;
    justify-content: center;
    gap: 21px;
    margin: 40px 0;
}
section .inner .tab>li>a{
    display: block;
    width: 140px;
    height: 45px;
    border: 1px solid #5b5b5b;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #666;
}
section .inner .tab>li:hover>a{
    color: #fff;
    background: #ff6400;
    border: 1px solid #ff6400;
}
section .inner .tab>li.on>a{
    color: #fff;
    background: #ff6400;
    border: 1px solid #ff6400;
}
section .inner .product{
    display: flex;
    justify-content: space-evenly;
}
section .inner .product li{
    text-align: center;
}
section .inner .product li a h4{
    color: #5b5b5b;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
}
/* section .inner .product2{
    display: none;
} */