@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0;}
.box{
    width: 1400px;
    height: 800px;
    border: 11px solid #000;
    margin: auto;
    position: relative;
}
/* 박스에 호버 일시정지/다시재생 */
.box:hover .clock{
    animation-play-state: paused;
}
.box>.clock{
    position: absolute;
    left: 50%;
    margin-left: -82.5px;
    top: 0;
    transform: rotate(45deg);
    /* 중심축 바꾸는 명령 */
    transform-origin: center top;
    animation: clock_ani 1s ease-in-out forwards infinite;
}
@keyframes clock_ani {
    0%{transform: rotate(45deg);}
    50%{transform: rotate(-45deg);}
    100%{transform: rotate(45deg);}
}
.box:hover .clock2{
    animation-play-state: paused;
}
.box .clock2{
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(135deg);
    transform-origin: center top;
    margin-right: -85px;
    animation: clock2_ani 1s ease-in-out forwards infinite;
}
@keyframes clock2_ani {
    0%{transform: rotate(135deg);}
    50%{transform: rotate(45deg);}
    100%{transform: rotate(135deg);}
}
.box:hover .clock3{
    animation-play-state: paused;
}
.box .clock3{
    position: absolute;
    left: 50%;
    margin-left: -82.5px;
    bottom: 0;
    margin-bottom: -340px;
    transform: rotate(225deg);
    transform-origin: center top;
    animation: clock3_ani 1s ease-in-out forwards infinite;
}
@keyframes clock3_ani {
    0%{transform: rotate(225deg);}
    50%{transform: rotate(135deg);}
    100%{transform: rotate(225deg);}
}
.box:hover .clock4{
    animation-play-state: paused;
}
.box .clock4{
    position: absolute;
    left: 0;
    margin-left: -82.5px;
    top: 50%;
    transform: rotate(315deg);
    transform-origin: center top;
    animation: clock4_ani 1s ease-in-out forwards infinite;
}
@keyframes clock4_ani {
    0%{transform: rotate(315deg);}
    50%{transform: rotate(225deg);}
    100%{transform: rotate(315deg);}
}
.box div .line{
    width: 8px;
    height: 166px;
    background: #000;
    margin: auto;
}
.box div .circle{
    width: 165px;
    height: 165px;
    border: 8px solid #000;
    border-radius: 100%;
    margin: auto;
    background: url("../images/1.jpg") no-repeat 80%;
    background-size: cover;
}
.box h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}