@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{font-family: "Nanum Gothic", sans-serif;}
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none; cursor: pointer;}
.section{
    width: 100%;
    background: #f9f9f9;
    padding: 100px 0 80px;
}
.section .inner{
    width: 1700px;
    margin: auto;
}
.section .inner h2{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: #222;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.section .inner .list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}
.section .inner .list li a{
    font-size: 10px;
    font-weight: 400;
    color: #767676;
}
.section .inner .product{
    width: 100%;
    height: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.section .inner .product li{
    width: 318px;
    height: 419px;
}
.section .inner .product li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.section .inner .product li a img{
    width: 100%;
    height: 100%;
}
.section .inner .product li a .bar{
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    bottom: -50%;
    padding: 22px 0;
    transition: all 0.2s ease-in-out;
}
.section .inner .product li a:hover .bar{
    bottom: 0;
}
.section .inner .product li a .bar .color{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.section .inner .product li a .bar .color span{
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
}
.section .inner .product li a .bar .color span:nth-child(2){
    background: #d7b170;
}
.section .inner .product li a .bar .color span:nth-child(3){
    background: #5692b3;
}
.section .inner .product li a .bar .color span:nth-child(4){
    background: #56754c;
}
.section .inner .product li a .bar .color span:nth-child(5){
    background: #760016;
}
.section .inner .product li a .bar .color span:nth-child(6){
    background: #501704;
}
.section .inner .product li a .bar .color span:nth-child(7){
    background: #742466;
}
.section .inner .product li a .bar .color span:nth-child(8){
    background: #cf7c95;
}
.section .inner .product li a .bar .color span:last-child{
    background: #000;
}
.section .inner .product li a .bar p{
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-bottom: 6px;
}
.section .inner .product li a .bar h5{
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    color: #222;
}
.section .inner .product li a .bar .sold{
    text-align: center;
}
.section .inner .product li a .bar .sold button:first-child{
    color: #901919;
    font-size: 8px;
    font-weight: 900;
    font-style: italic;
    border-bottom: 1px solid #901919;
}
.section .inner .product li a .bar .sold button:nth-child(2){
    color: #191919;
    font-size: 8px;
    font-weight: 900;
    font-style: italic;
    border-bottom: 1px solid #191919;
}
.section .inner .product li a .bar .sold button:last-child{
    color: #191919;
    background: #fff;
    font-size: 8px;
    font-weight: 900;
    border: 1px solid #191919;
    padding: 2px 4px;
}