.wrap{
    width: 100%;
}
.wrap header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #777;
    background: #fff;
}
.wrap header .inner{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.wrap header .inner .m_btn{
    display: none;
}
.wrap header .inner h1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.wrap header .inner h1 a{
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    letter-spacing: -1px;
}
.wrap header .inner nav{
    width: 100%;
}
.wrap header .inner nav .gnb{
    display: flex;
    justify-content: center;
    gap: 85px;
}
.wrap header .inner nav .gnb li a{
    font-size: 16px;
    color: #333;
}
.wrap header .inner .sns{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.wrap header .inner .sns a{
    margin-left: 4px;
    font-size: 16px;
    color: #777;
}
.wrap main{
    width: 100%;
}
.wrap main .visual{
    width: 100%;
    height: 800px;
    position: relative;
    background: url("../images/visual.jpg") no-repeat center center;
}
.wrap main .visual .tit{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.wrap main .visual .tit h2{
    font-size: 56px;
    font-weight: 900;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    /* 대소문자 수정하는 명령 */
    text-transform: uppercase;
}
.wrap main .visual .tit p{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    line-height: 36px;
}
.wrap main .first{
    padding: 100px 0;
    text-align: center;
}
.wrap main .first P{
    font-size: 16px;
    line-height: 40px;
}
.wrap main .work{
    width: 100%;
    padding: 90px 0 50px;
    background: #efefef;
}
.wrap main .work .inner{
    width: 1200px;
    margin: auto;
}
.wrap main .work .inner .tit2{
    text-align: center;
}
.wrap main .work .inner .tit2 h2{
     text-transform: capitalize;
     font-size: 36px;
}
.wrap main .work .inner .tit2 p{
    font-size: 16px;
    margin: 10px 0 50px;
}
.wrap main .work .inner .list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.wrap main .work .inner .list li{
    width: 30%;
}
.wrap main .work .inner .list li a{
    width: 100%;
}
.wrap main .work .inner .list li a img{
    width: 100%;
}
.wrap main .skill{
    width: 100%;
    padding: 0 0 100px;
}
.wrap main .skill .inner{
    width: 1200px;
    margin: auto;
}
.wrap main .skill .inner .list2{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.wrap main .skill .inner .list2 li{
    width: 30%;
    margin-top: 100px;
}
.wrap main .skill .inner .list2 li a{
    display: block;
    width: 100%;
    padding-top: 120px;
}
.wrap main .skill .inner .list2 li:first-child a{
    background: url("../images/ico_code.png") no-repeat center 10px;
    background-size: 60px;
}
.wrap main .skill .inner .list2 li:nth-child(2) a{
    background: url("../images/ico_option.png") no-repeat center 10px;
    background-size: 60px;
}
.wrap main .skill .inner .list2 li:nth-child(3) a{
    background: url("../images/ico_setting.png") no-repeat center 10px;
    background-size: 60px;
}
.wrap main .skill .inner .list2 li:nth-child(4) a{
    background: url("../images/ico_support.png") no-repeat center 10px;
    background-size: 60px;
}
.wrap main .skill .inner .list2 li:nth-child(5) a{
    background: url("../images/ico_tools.png") no-repeat center 10px;
    background-size: 60px;
}
.wrap main .skill .inner .list2 li:last-child a{
    background: url("../images/ico_transper.png") no-repeat center 10px;
    background-size: 60px;
}
.wrap main .skill .inner .list2 li a h3{
    font-size: 16px;
    font-weight: 900;
    color: #00aaff;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.wrap main .skill .inner .list2 li a p{
    font-size: 15px;
    color: #777;
    line-height: 20px;
}
.wrap main .second{
    width: 100%;
    height: 400px;
    background: url("../images/search01.png") no-repeat center top;
    position: relative;
}
.wrap main .second p{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}
.wrap main .news{
    width: 100%;
    padding: 90px 0 50px;
}
.wrap main .news .inner{
    width: 1200px;
    margin: auto;
}
.wrap main .news .inner .tit3{
    text-align: center;
}
.wrap main .news .inner .tit3 h2{
     text-transform: capitalize;
     font-size: 36px;
}
.wrap main .news .inner .tit3 p{
    font-size: 16px;
    margin: 10px 0 50px;
}
.wrap main .news .inner .list3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.wrap main .news .inner .list3 li{
    width: 30%;
}
.wrap main .news .inner .list3 li a{
    width: 100%;
}
.wrap main .news .inner .list3 li a .imgbox{
    width: 100%;
}
.wrap main .news .inner .list3 li a .imgbox img{
    width: 100%;
}
.wrap main .news .inner .list3 li a .txt{
    text-align: right;
    margin-top: 20px;
    color: #000;
}
.wrap main .news .inner .list3 li a .txt h3{
    font-size: 20px;
    text-transform: capitalize;
}
.wrap main .news .inner .list3 li a .txt .date{
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.wrap main .news .inner .list3 li a .txt .lorem{
    font-size: 14px;
    line-height: 20px;
}
.wrap main .today{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background: #f2f2f2;
}
.wrap main .today>p{
    font-size: 20px;
    margin-bottom: 30px;
}
.wrap main .today>button{
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}
footer{
    width: 100%;
    height: 56px;
    background: #555;
}
footer p{
    height: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}
footer p span{
    color: #00aaff;
}