@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif; color: #333; font-size: 14px; background: #fff;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{background: none; border: none; cursor: pointer;}
img{display: block; border: none;}
.cover{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.wrap{
    position: relative;
}
/* 팝업창 */
.popup{
    width: 400px;
    height: 360px;
    border: 5px solid #ff6e41;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 30px 20px;
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.popup h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.popup p{
    text-align: center;
}
.popup .btn_close{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 4px 10px;
    background: #00645c;
    color: #fff;
    border-radius: 4px;
}
/* Header 영역 */
header{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
/* 로고 */
header h1{
    height: 100px;
    display: flex;
    align-items: center;
}
/* 주메뉴 */
header nav .gnb{
    display: flex;
    width: 600px;
    height: 40px;
}
header nav .gnb>li{
    width: 150px;
    height: 100%;
    position: relative;
}
header nav .gnb>li>a{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #333
}
header nav .gnb>li:hover>a{
    background: #00645c;
    color: #fff;
}
/* 2차 메뉴 */
header nav .gnb>li .depth2{
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 98;
    display: none;
}
header nav .gnb>li .depth2 li{
    width: 100%;
}
header nav .gnb>li .depth2 li a{
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
header nav .gnb>li .depth2 li:hover a{
    background: #fff;
    color: #00645c;
    font-weight: 700;
}
header .gnbbg{
    width: 100%;
    height: 120px;
    background: #00645c;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 97;
    display: none;
}
/* Main 영역 */
main{
    width: 1200px;
    height: 300px;
    margin: auto;
}
/* Contents 영역 */
.contents{
    width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
}
/* 공지사항 */
.contents>div{
    padding: 10px;
}
.contents>div h2{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-bottom: 1px solid #ff6e41;
}
.contents .notice{
    width: 400px;
    height: 100%;
}
.contents .notice ul{
    width: 100%;
    height: 130px;
}
.contents .notice ul li{
    width: 100%;
    height: 26px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
}
.contents .notice ul li a{
    color: #333;
}
.contents .notice ul li span{
    text-align: right;
}
/* 갤러리 */
.contents .gallery{
    width: 400px;
    height: 100%;
}
.contents .gallery ul{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contents .gallery ul li a img{
    transition: all 0.2s ease-in-out;
}
.contents .gallery ul li:hover a img{
    opacity: 0.5;
}
/* 바로가기 */
.contents .link{
    width: 400px;
    height: 100%;
    background: url("../images/link.png") no-repeat;
    color: #fff;
}
.contents .link h2{
    width: 360px;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.contents .link p{
    line-height: 21px;
    margin-bottom: 10px;
    padding: 0 10px;
    text-shadow: 2px 2px 4px #333;
}
.contents .link a{
    display: block;
    width: 100px;
    height: 30px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    background: #ff6e41;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
footer{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    border-top: 2px solid #00645c;
}
footer .f_wrap{
    width: 1000px;
    height: 100%;
}
footer .f_wrap .f_nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer .f_wrap .f_nav li{
    position: relative;
}
footer .f_wrap .f_nav li::after{
    content: "";
    width: 1px;
    height: 10px;
    background: #333;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
footer .f_wrap .f_nav li:last-child::after{
    display: none;
}
footer .f_wrap .f_nav li a{
    color: #333;
    font-size: 12px;
    font-weight: 700;
}
footer .f_wrap p{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}
footer .family{
    width: 200px;
    height: 100%;
    position: relative;
}
footer .family .familysite{
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #333;
    text-align: left;
    text-indent: 20px;
    position: relative;
    margin-top: 30px;
}
footer .family .familysite::after{
    content: "▼";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
footer .family ul{
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 68px;
    border: 1px solid #333;
    border-bottom: none;
    display: none;
}
footer .family ul li a{
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-indent: 20px;
    color: #333;
    font-size: 12px;
}
footer .family ul li:hover a{
    background: #00645c;
    color: #fff;
}