@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
img{display: block; border: none;}
button{background: none; border: none; cursor: pointer;}
header{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #ff6400;
}
header .inner{
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner nav .gnb{
    display: flex;
    gap: 80px;
}
header .inner nav .gnb li{
    position: relative;
}
header .inner nav .gnb li a{
    display: block;
    padding: 24px 0;
    font-size: 18px;
    font-weight: 700;
    color: #111;
}
header .inner nav .gnb li:hover:after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ff6400;
}
main{
    width: 100%;
}
main .slide{
    width: 100%;
}
main .slide div a{
    display: block;
    width: 100%;
    height: 600px;
}
main .slide .visual01 a{
    background: url("../images/slide01.jpg") no-repeat center top;
}
main .slide .visual02 a{
    background: url("../images/slide02.jpg") no-repeat center top;
}
main .slide .visual03 a{
    background: url("../images/slide03.jpg") no-repeat center top;
}
main .slide .visual04 a{
    background: url("../images/slide04.jpg") no-repeat center top;
}
main .slide .visual05 a{
    background: url("../images/slide05.jpg") no-repeat center top;
}
main .slide .visual06 a{
    background: url("../images/slide06.jpg") no-repeat center top;
}
main .slide .slick-prev{
    width: 18px;
    height: 30px;
    text-indent: -99999px;
    background: url("../images/btn_slide_prev_new.png");
    position: absolute;
    left: 50%;
    margin-left: -650px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
main .slide .slick-next{
    width: 18px;
    height: 30px;
    text-indent: -99999px;
    background: url("../images/btn_slide_next_new.png");
    position: absolute;
    right: 50%;
    margin-right: -650px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}