@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none; cursor: pointer;}
/* 변수를 선언하는 방법 */
/* 변수명=값 */
/* --변수명: 값 */
/* 전역변수: html문서 안 어디서나 사용하는 변수 (:root) */
:root{
    --maincolor: #008000;
    --white: #fff;
    --bgc: #ededed;
    --padd: 20px;
    --fsize: 18px;
    --gap: 15px;
}
/* 지역변수: 해당 요소안에서 사용하는 변수 */
section{
    width: 100%;
    padding: 35px 0;
    /* 배경색을 변수로 적용하는 법 */
    background: var(--bgc);
    text-align: center;
}
section h2{
    font-size: 26px;
    color: var(--maincolor);
}
section ul{
    width: 780px;
    margin: 35px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}
section ul li{
    width: 144px;
    border: 1px solid var(--maincolor);
    background: var(--white);
}
section ul li a{
    display: block;
    width: 100%;
    padding: var(--padd) 0;
    color: var(--maincolor);
    font-size: 12px;
    font-weight: 900;
}
section button{
    width: 105px;
    height: 35px;
    color: var(--white);
    background: var(--maincolor);
    font-size: 10px;
    border-radius: 999px;
}
.section{
    /* 지역변수 선언 */
    --tfs: 24px;
}
.section h2{
    color: var(--maincolor);
    text-align: center;
    font-size: var(--tfs);
}