@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
body{font-family: "Noto Sans KR", sans-serif; font-size: 16px; line-height: 1.5;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}

/* 영문 폰트 사용할 때 */
.en{font-family: "Cormorant Unicase", serif;}

/* header영역 */
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: #333;
}
header h1 a{
    color: #fff;
}
header h1 a span{
    font-size: 24px;
}
header .navi_wrap{
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}
header .navi_wrap .gnb{
    transform: translateX(300px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
header.on .navi_wrap .gnb{
    transform: translateX(0);
    opacity: 1;
}
header .navi_wrap .gnb ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
header .navi_wrap .gnb ul li a{
    color: rgba(255, 255, 255, 0.6);
}

/* header안 햄버거버튼 */
.m_btn{
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.m_btn span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
.m_btn span:nth-child(1){
    top: 0;
    transition: all 0.5s ease-in-out;
}
.m_btn span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
}
.m_btn span:nth-child(3){
    bottom: 0;
    transition: all 0.5s ease-in-out;
}

header.on .m_btn span:nth-child(1){
    transform: rotate(45deg);
    top: 10px;
}
header.on .m_btn span:nth-child(2){
    transform: translateX(-100%);
    opacity: 0;
}
header.on .m_btn span:nth-child(3){
    transform: rotate(-45deg);
    top: 10px;
}