@charset "utf-8";
body{}
*{margin: 0; padding: 0; box-sizing: border-box;}
.wrap{
    width: 1000px;
    margin: auto;
    position: relative;
}
.wrap .blue{
    width: 100px;
    height: 400px;
    background: blue;
    position: absolute;
    left: 0;
    top: 0;
}
.wrap .red{
    width: 100%;
    height: 200px;
    background: red;
}
.wrap .green{
    width: 100%;
    height: 200px;
    background: green;
}
/* 노트북 992~1199 */
@media ( min-width: 992px ) and ( max-width: 1199px ){
    body{
        padding: 0 40px;
    }
}
/* 태블릿 768~991 */
@media ( min-width: 768px ) and ( max-width: 991px ){
    .wrap .blue{
        position: static;
        width: 100%;
        height: 200px;
    }
}
/* 모바일 320~767 */
@media ( min-width: 320px ) and ( max-width: 767px ){
    .wrap .blue{
        position: static;
        width: 100%;
        height: 100px;
    }
    .wrap .red{
        height: 400px;
    }
    .wrap .green{
        height: 400px;
    }
}