@charset "utf-8";
body{font-family: "맑은 고딕", "malgun gothic", sans-serif;}
*{margin: 0; padding: 0;}
div{
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.box1{
    background-image: linear-gradient(90deg, red, yellow);
}
.box2{
    background-image: linear-gradient(180deg, red, yellow);
}
.box3{
    background-image: linear-gradient(to left, red, yellow);
}
.box4{
    background-image: linear-gradient(to top, red, yellow);
}
.box5{
    background-image: linear-gradient(30deg, red, yellow);
}
.box6{
    background-image: linear-gradient(to right, red, yellow, blue);
}
.box7{
    background-image: linear-gradient(to bottom, red 10%, yellow 20%, green 70%);
}
.box8{
    background-image: linear-gradient(to bottom, red 50%, blue 50%);
}
.box9{
    background-image: radial-gradient(red, yellow, blue);
}
.box10{
    background-image: radial-gradient(circle, red, yellow, blue);
}
.box11{
    /* 피그마 Angle 그라디언트 > conic-gradient(자동완성 안나옴) */
    background-image: conic-gradient(red, blue);
}
.figma{
    width: 320px;
    height: 117px;
    background-image: linear-gradient(135deg, #9d5dd8, #d55882);
}
.test{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, navy, purple);
}